.App {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.App-Header {
	background-color: #6b7a8f;
	padding: 1em;
	margin: 0;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.App-Body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: left;
	align-self: center;
	width: 100%;
	background-color: #bbb;
}

.App-List {
	width: auto;
	height: auto;
	margin: 20px auto;
	height: 70vh;
	overflow: scroll;
}
