.ListItem-Button {
	width: 100%;
	min-width: 400px;
	height: auto;
	background: #ddd;
	color: #6b7a8f;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	line-height: 1.4;
	margin: 5px 0;
	padding: .5em;
}

.ListItem-Button p {
	padding: 0;
	margin: 0;
}

.ListItem-Dates {
	font-weight: 400;
}
