.ListItem-Button {
	width: 100%;
	height: auto;
	background: grey;
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 14px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	line-height: 1.4;
	margin: 5px 0;
	padding: .5em;
}

.ListItem-Button p {
	padding: 0;
	margin: 0;
}

.ListItem-Dates {
	font-weight: 400;
}

button.selected {
	background: teal;
}
